<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="n7.mev.feature.miranda">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_miranda">
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

