<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ad2.n7.javik">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_javik">
        <dist:fusing dist:include="true" />
    </dist:module>
    <application android:hasCode="false" />
</manifest>

