<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="n7.mev.edi">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_edi">
        <dist:fusing dist:include="false" />
    </dist:module>
    <application android:hasCode="false" />
</manifest>

