<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ad2.n7.dlc_citadel">

    <!--dist:onDemand="true"  если true то модуль доступен для скачивания по требованию
                              если false то модуль будет скачан при первой инсталяции -->
    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_dlc_citadel">
        <dist:fusing dist:include="false" />
    </dist:module>
    <application android:hasCode="false" />
</manifest>

