<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ad2.n7.dlc_citadel">

    <!--dist:onDemand="true" будет ли модуль включён в сборку при установке -->
    <!--dist:instant="false" помечаем instant-Enable модуль-->
    <!--dist:include="false" указываем будет ли бодуль включён в APK для preLollipop-->
    <dist:module

        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_dlc_citadel">
        <dist:fusing dist:include="false" />
    </dist:module>
    <application android:hasCode="false" />
</manifest>

