<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ad2.n7.tali">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_tali">
        <dist:fusing dist:include="false" />
    </dist:module>
    <application android:hasCode="false" />
</manifest>

