<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="n7.mev.feature.illusive_man">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_illusive_man">
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

